.balance_container {
	height: 50vh;
	width: 100%;
	background-color: #1565C0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card {
	width: 90%;
	height: 15vh;
	background-color: rgba(196, 196, 196, .6);
	color: #ddd;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	padding: .75rem;
	border-radius: 7px;
}

.card .title {
	font-size: 1.5rem;
	margin-bottom: 7px;
}
.card .amount {
	color: #fff;
	padding-left: 10px;
	font-size: 3rem;
}

.button {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255,255,255,0.8);
	border: none;
	padding: .5rem 1.25rem;
	border-radius: 20px;
	text-decoration: none;
}

.button svg {
	margin-right: 5px;
}

.statements_container {
	height: 42vh;
	margin: 0 20px 0 20px;
	overflow-y: hidden;
}

.statements_container:hover {
	overflow-y: auto;
}

.statements_container h2 {
	margin: 10px;
}

.box {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Roboto Slab", serif;
}

.list object {
	height: 30px;
	width: 30px;
}

.name {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}
