.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem;
}

.name {
	font-size: 1.3rem;
	margin: 0 0 0 5px;
}
.input {
	padding: 1rem;
	font-family: "Roboto-Light";
	font-weight: bold;
	font-size: 1.25rem;
	color: #333;
	box-shadow: -2px 4px 10px rgba(102,102,102,0.25);
}
