.card {
	width: 90%;
	height: 15vh;
	background-color: rgba(196, 196, 196, .6);
	color: #ddd;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	padding: .75rem;
	border-radius: 7px;
}

.title {
	font-size: 1.5rem;
	margin-bottom: 7px;
}
.amount {
	color: #fff;
	padding-left: 10px;
	font-size: 3rem;
}
