@font-face {
  font-family: "Roboto-Light";
  src: url(./Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Condensed";
  src: url(./Roboto-Condensed.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Slab";
  src: url(./Roboto-Slab.ttf) format("truetype");
}


html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 1rem;
	font-family: "Roboto-Light", sans-serif;
	background-color: #dfdfdf;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	display: flex;
	justify-content: center;
}

* {
	box-sizing: border-box;
}

#app {
	width: 60vw;
	height: 80vh;
}

@media screen and (max-width: 700px) {
	html, body {
		font-size: calc(.5vw + 1vh + 1vmin);
	}
	#app {
		width: 100vw;
		height: 100vh;
	}
}

